.container {
  max-height: 591px;
  min-height: 450px;
  width: 375px;
  overflow: auto;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}

.red {
  color: #ba1b3b;
}

.background_image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(assets/background.svg);
  background-position: right;
  background-size: auto 100%;
}
